.prize-card {

    position: relative;
    width: 300px;
    height: 340px;
    perspective: 1000px;
    overflow: hidden; /* Ensure content within the card stays visible */
    box-shadow: 0px 5px 20px 10px #a6593230;
    transition: all .3s ease;
  }
  @media only screen and (max-width: 600px) {
    .prize-card{
      margin-top: 2rem;
      width:17rem;
      height:22rem;
    }
    .prize-card .back {
      font-size: 0.87rem;
      padding:1rem;
    }
  }
  .prize-card:hover{
    transform: scale(1.05);
  }
  .prize-card .front,
  .prize-card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s;
  }
  
  .prize-card .front {
    background-color: #541E1E; /* Golden color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


  }
  
  .prize-card .back {
    background-color: #541E1E;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .prize-card .half-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color:
    #321515; /* Light black color */
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    
    z-index: 1; /* Set z-index to bring the half-circle in front */
  }
  
  .prize-image {
    position: relative; /* Ensure the image container is positioned */
    z-index: 2; /* Set z-index to bring the image in front of the half-circle */
    margin-top: -80px; /* Adjust this value to position the image */
  }
  
  .prize-image img {
    border-radius: 50%;
  }
  
  .read-more-button,
  .close-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    
    cursor: pointer;
  }
  
  .read-more-button:hover,
  .close-button:hover {
    background-color: #333;
  }
  
  .flipped .front {
    transform: rotateY(180deg);
  }
  
  .flipped .back {
    transform: rotateY(0deg);
  }
  